@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --color-primary: #0065FC;
    --color-light: #DEEBFF;
    --color-background: #F2F2F2;
}

/* HEADER */

header {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 19px;
    width: auto;
}

nav ul {
    display: flex;
    gap: 68px;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--color-primary);
    text-decoration: overline;
}

main {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER RESPONSIVE*/
/* Tablette */
@media screen and (max-width: 1024px) and (min-width: 768px) {

}

/* Mobile */
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  nav ul {     
    gap: 15px;
    margin-top: 10px;
  }

  nav ul li a:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

/* FORM */
h1 {
  font-size: 22px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid var(--color-background);
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    margin-top: 25px;
}

.icon-left {
    padding: 14px 18px;
    background: var(--color-background);
    align-items: center;
    justify-content: center;
    color: black;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 14px;
    font-size: 1rem;
    outline: none;
}

::placeholder {
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.btn-desktop {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

/* VERSION MOBILE */

.btn-mobile {
    display: none;
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 14px 18px;
    cursor: pointer;
    font-size: 1rem;
}

@media screen and (max-width: 767px) {
    .btn-desktop {
        display: none;
    }
    .btn-mobile {
        display: block;
    }
}

/* FILTRES */
.filtres {
  margin-top: 25px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.filtres-btn {
  padding: 14px 20px;
  border-radius: 25px;
  background-color: white;
  border: 2px solid var(--color-background);
  font-size: 17px;
  font-weight: 700;
}

.filtres-btn:hover {
  background-color: var(--color-light);
}

.icon {
    color: var(--color-primary);
}

/* FILTRES  RESPONSIVE */
@media screen and (max-width: 767px) {
    .filtres {
      flex-direction: column; /*On force a mettre en colmum le titre au dessus*/
      align-items: flex-start;  /*Le titre à gauche*/ 
    }
    .filter-list {
      display: flex;
      flex-wrap: wrap;
    }
    .filter-list li {
      flex: 1 1 calc(50% - 10px); /* 50% moins le gap */
    }
    .filtres-btn {
        width: 100%;
        padding: 12px 10px; /* On réduit un peu le padding pour que ça loge */
        font-size: 14px;
        white-space: nowrap; /* Évite que le texte saute à la ligne dans le bouton */
    }
}

/* INFO */
.info {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.info-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--color-background);
  color: var(--color-primary);
  border-radius: 100px;
  width: 24px;
  height: 24px;
}

